@import "reset.css";

body {
	background-color: #0C0C0C;
	color: #CCC;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	-webkit-text-size-adjust: none;
}
#wrapper {
	margin: 10px auto;
	width: 400px;
}

#errors {
	margin: 0 auto;
	padding: 0;
	width: 400px;
}
#errors li {
	background-color: #400;
	border: 1px solid #700;
	color: #FFF;
	display: block;
	font-size: 10px;
	margin: 10px auto;
	padding: 8px;
	text-align: justify;
}
#errors li.warn {
	background-color: #440;
	border-color: #660;
}
#errors li.info {
	background-color: #444;
	border-color: #666;
}
#header {
	background: url('../img/logo-white.png') no-repeat 10px 50%;
	padding-left: 130px !important;
	height: 40px;
}
#header span {
	display: none;
}

#ship > div {
	background-color: #242424;
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 10px;
}

#machine .hostname h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 5px 0;
}
#machine .net {
	float: right;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
	text-align: right;
}
#machine .os {
	clear: left;
	float: left;
}
#machine .uptime {
	clear: both;
	padding-top: 8px;
}

#processes .pid{
    width: 75px;
}
#processes .cpu, #processes .ram {
    width: 50px;
    text-align: right;
}
#processes td {
    font-size: 11px;
    line-height: 12px;
}

#memory #swap {
	margin-top: 8px;
}

.meter {
	padding: 0 !important;
	width: 200px;
}
.meter.float {
	float: right;
	margin-top: 4px;
}
.meter.container {
	background-color: #383838;
}
.meter.fill {
	background-color: #999;
	border: none !important;
	height: 6px !important;
	float: none !important;

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.meter .fill .pct {
	display: none;
	float: right;
}

#temps td {
	line-height: 18px;
}
#temps .dev, #temps .model {
	font: normal 12px Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#temps .temp {
	text-align: right;
}
#temps .temp span {
	display: inline-block;
	padding: 0 2px;
}
#temps .temp.warn span {
	background-color: #440;
	font-weight: bold;
}
#temps .temp.crit span {
	background-color: #444;
	font-weight: bold;
}

#diskspace .disk {
	width: 120px;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#diskspace .type {
	width: 60px;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#diskspace .size {
	width: 200px;
}

#footer {
	width: 390px;
	margin: 0 auto 10px auto;
	font-size: 9px;
	color: #494949;
	text-align: right;
}
#footer #artoggle {
	float: left;
}
#footer .info {
	float: right;
}
#footer a:link, #footer a:visited {
	color: inherit;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .nojson {
	color: #FFF;
	font-weight: bold;
}

/* generic rules for tables */
table {
	width: 100%;
}
th {
	text-align: left;
	line-height: 18px;
}
td {
	line-height: 16px;
	padding: 3px 0 0 0;
}
