@import "reset.css";

body {
	background-color: #EEE;
	font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	-webkit-text-size-adjust: none;
}
#wrapper {
	margin: 10px auto;
	width: 400px;
}

#errors {
	margin: 0 auto;
	padding: 0;
	width: 400px;
}
#errors li {
	background-color: #FDD;
	border: 1px solid #C66;
	display: block;
	font-size: 10px;
	margin: 20px auto;
	padding: 8px;
	text-align: justify;
}
#errors li.warn {
	background-color: #FDB;
	border-color: #F90;
}
#errors li.info {
	background-color: #DDF;
	border-color: #66C;
}

#header {
	background: url('../img/logo.png') no-repeat 10px 50%;
	padding-left: 130px !important;
	height: 40px;
}
#header span {
	display: none;
}

#ship > div {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 0 2px 4px #DDD;
	-moz-box-shadow: inset 0 2px 4px #DDD;
	-webkit-box-shadow: inset 0 2px 4px #DDD;
	margin-bottom: 10px;
	padding: 10px;
}

#machine .hostname h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 5px 0;
}
#machine .net {
	float: right;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
	text-align: right;
}
#machine .os {
	clear: left;
	float: left;
}
#machine .uptime {
	clear: both;
	padding-top: 8px;
}

#memory #swap {
	margin-top: 8px;
}

.meter {
	border: 1px solid #246;
	padding: 0 !important;
	width: 200px;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.meter.float {
	float: right;
	margin-top: 4px;
}
.meter.container {
	background-color: #FFF;
}
.meter.fill {
	background-color: #468;
	border: none !important;
	height: 6px !important;
	float: none !important;

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.meter .fill .pct {
	display: none;
	float: right;
}
.meter.warn {
	border-color: #C60;
}
.meter.warn.fill {
	background-color: #F90;
}
.meter.crit {
	border-color: #900;
}
.meter.crit.fill {
	background-color: #C00;
}

#temps td {
	line-height: 18px;
}
#temps .dev, #temps .model {	
	font: normal 12px Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#temps .temp {
	text-align: right;
}
#temps .temp span {
	display: inline-block;
	padding: 0 2px;
}
#temps .temp.warn span {
	background-color: #F90;
	color: #FFF;
	font-weight: bold;
}
#temps .temp.crit span {
	background-color: #F00;
	color: #FFF;
	font-weight: bold;
}

#diskspace .disk {
	width: 120px;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#diskspace .type {
	width: 60px;
	font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', 'Menlo', monospace;
}
#diskspace .size {
	width: 200px;
}

#footer {
	width: 390px;
	margin: 0 auto 10px auto;
	font-size: 9px;
	color: #A9A9A9;
	text-align: right;
}
#footer a:link, #footer a:visited {
	color: inherit;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

/* generic rules for tables */
table {
	width: 100%;
}
th {
	text-align: left;
	line-height: 18px;
}
td {
	line-height: 16px;
	padding: 3px 0 0 0;
}
